.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 10px;
}

.btn-default {
    padding: 13px 0px;
    background: $btn-color;
    width: 100%;
    max-width: 420px;
    color: $color-white;
}
.btn-default-smoll {
    max-width: 330px;
}
.btn-default:hover {
    background-color: $btn-hover;
}
.btn-default:active {
    background-color: $btn-ative;
}
.btn__text {
    font-size: $text-medium-small;
    line-height: 130%;
    letter-spacing: .01em;
    text-transform: none;
    color: $color-white;
    transition: all .3s ease;
}

