.title {
    font-size: $text-large-medium;
    font-weight: 500;
    line-height: 125%;
    @include pad {
    font-size: $text-huge;
    line-height: 60px;
    }
}
.title-2 {
    font-size: $text-medium-small;
    font-weight: 500;
    line-height: 125%;
    @include pad {
        font-size: $text-large-medium;
    }
}
.sup-title {
    font-size: $text-medium-small;
    font-weight: 500;
}
.text {
    font-size: $text-small;
    @include pad {
        font-size: $text-medium-mini;
    }
}
