.benefits__wrap {
    padding-top: 60px;
    padding-bottom: 60px;
    @include pad {    
        padding-top: 80px;
        padding-bottom: 80px;
      }
}

.benefits {
        position: relative;
        .benefits__img {
            display: block;
            margin: 25px auto 0;
            max-width: 252px;

            @include pad {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: none;
            }
        }
        .benefits__item {
           
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            
            @include pad {
                max-width: 796px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .benefits__card {
                margin-bottom: 20px;
                padding: 20px;
                height: 114px;
                max-width: 252px;
                background-color: $color-black;
                color: $color-white;
                border-radius: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                @include pad {
                    margin-bottom: 0px;
                    height: 148px;
                    background-color: $color-main1;
                    color: $color-text;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
            }
        }
}