.bonuses__wrap {
    position: relative;
    background-color: $color-main1;
    .bonuses {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
        padding-bottom: 44px;
        @include pad {
            padding-top: 50px;
            padding-bottom: 40px;
            justify-content: space-between;
            flex-direction: row;
        }
        .bonuses__textWrap {
            margin-left: 0px;
            @include pad {
                margin-left: 30px;

            }
            .bonuses-title {
                color: #FFFFFF;
                font-size: $text-medium-small;
                font-weight: 500;
                line-height: 125%;
                margin: 0px 0 15px;
                @include pad {
                    font-size: $text-large;
                    margin: 32px 0 20px;
                }
            }
            .bonuses-suptitle {
                font-size: $text-medium-small;
                margin: 0px 0 15px;
                @include pad {
                    font-size: $text-medium-maxi;
                    margin: 0px 0 10px;
                }
                a {
                    color: $color-main2;
                    font-weight: 700;
                }
            }
        }
    }
}

.bonuses_imgWrap {
    margin-bottom: 46px;
    @include pad {
        margin-bottom: 0;
    }
    display: flex;
    .bonuses_item {
        height: 155px;
        max-width: 222px;
        width: 100%;
        font-size: $text-medium-small;
        text-align: center;
        background-color: $bg-grey;
        border-radius: 16px;
        margin-right: 18px;
        @include pad {
                transform: translateY(60px);
                padding: 20px;
                font-weight: 400;
                font-size: $text-medium-maxi;
                max-width: 273px;
                width: 100%;
                margin-right: 32px;
            }
        &:last-child {
            margin-right: 0;
        }
        .bonuses__item1 {
            line-height: 130%;
        }
        .bonuses__item2 {
            line-height: 100%;
        }
    }
}

.title_bonuses {
    margin-bottom: 40px;
}

.bonuses_img-1{
    display: block;
    transform: translateY(-44px);
    @include pad {
            transform: translateY(-60px);
        }
}
.bonuses_img-2{
    display: block;
    transform: translateY(-52px);
    @include pad {
            transform: translateY(-70px);
        }
}

.bonuses-suptitle-free {
    line-height: 100%;
    transform: translateY(-44px);
    @include pad {
            transform: translateY(-70px);
        }
}

.bonuses-suptitle-present {
    line-height: 130%;
    transform: translateY(-30px);
    @include pad {
            transform: translateY(-50px);
        }
}