.budget {
    padding: 16px;
    @include pad {
        padding: 46px 0;
    }
}

.budget-text {
    font-size: $text-medium-mini;

}

.title__budget {
    margin-bottom: 30px;
}

.sup-title__budget {
    text-align: center;
    @include pad {
        text-align: left;
    }
}

.budget__itemWrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 392px;
    @include pad {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        max-width: 100%;
    }
}

.budget__item {
    position: relative;
    max-width: 392px;
    border-radius: 20px;
    padding: 20px 10px 20px;
    z-index: 0;
    @include pad {
        padding: 20px 40px 38px 20px;
        max-width: 495px;
    }
}

.budget__item-blue {
    background-color: $budget-color-green;
}
.budget__item-white {
    background-color: $budget-color-red;
}

.budget__list {
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.budget__list-hidden{
    display: none;
    @include pad{
        display: flex;
    }
}

.budget__list-accordion{
    flex-direction: column;
    @include pad{
        display: none;
    }
}

.budget__icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.budget__img {
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: -1;
    @include pad {
        bottom: 0px;
        right: 0px;
    }
}

.accordion__link{
    margin-bottom: 5px;
}

.btn__budget {
    margin: 20px 0 30px;
    max-width: 419px;
    @include pad {
        order: 1;
        margin-bottom: 0;
    }
}