.comfort__wrap {
    padding: 50px 0 50px;
    @include pad {
        padding: 55px 0 94px;
    }
    .comfort {
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include pad {
            max-width: 100%;
            flex-direction: row;
        }
            .comfort__item {
                @include pad {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
                .comfort__card {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:first-child {
                        margin-top: 25px;
                    }
                    @include pad {
                        flex-direction: row;
                    }
                    img {
                        display: block;
                        @include pad {
                            margin-right: 30px;
                        }
                    }

                }
            }
    }
}

.comfort_cardMob {
    display: flex;
    align-items: flex-end;
}

.comfort__suptitle {
    font-size: 18px;
    line-height: 140%;
    margin-top: 10px;
}

.comfort_textWrap {
    margin-left: 30px;
    .sup-title {
        margin-left: 20px;
        @include pad {
            margin-left: 0;
        }
    }
}

.img-desc {
    display: none;
    @include pad {
        display: block;
    }
}

.img-mob {
    min-width: 170px;
    display: block;
    @include pad {
        display: none;
    }
}